

h1.miclase{
	font-family: 'Open Sans', sans-serif;
	font-size: 5em;
}

.miclase{
	padding-top: 6em; 
	padding-bottom: 1em;

}

.formulario input{
	height: 1em;
	display: block;
    height: 1em;
    width: 93%;
    font-size: 3em;
    margin-bottom: 1em;
    padding: .5em;
    border-radius: .4em;
}

.formulario{
	padding: 4em 8em;
}
button.mybutton{
	border-radius: .4em;
	padding: .8em;
	font-size: 3em;
	color: white;
	background-color: #fb9011;
}

.Links{
	color: blue;
	background-color: #fb9011;
}








